# Godot 4+ specific ignores
.godot/
/android/

# editor
.vscode/

# what
*.csproj.old.*
*.csproj.old

# tracing
*.nettrace
*.speedscope.*

# syllables
tools/silbitus/litsents.html*
tools/silbitus/create_syls_file*
tools/silbitus/silbitus.dic*
tools/silbitus/stb_ds.h
tools/silbitus/syls.txt
